<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
        <style>
        .container{
          width:50%;
      }
      body {
    background-image: url('https://png.pngtree.com/background/20230519/original/pngtree-landscape-jpg-wallpapers-free-download-picture-image_2668463.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height:100%;
}

    </style>
    </head>

    <body>
        <h1>Student Result Management System</h1>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                             <form #myForm="ngForm">
                                <div class="form-group">
                                    <label for="Student Id">
                                        Student Id
                                    </label>
                                    <input type="text" 
                                           class="form-control" 
                                           name="id" 
                                           #id="ngModel" ngModel
                                           required
                                           pattern="[0-9]+"

                                           
                                            />
                                </div>
                                <div *ngIf="id.touched">
                                  <div *ngIf="id.errors?.['required']">
                                    <b style="color: red;">Student Id is  Required.</b>

                                  </div>
                                  <div *ngIf="id.errors?.['pattern']">
                                    <b color="red"><b>Invalid Student Id.</b></b>
                                  </div>
                                </div>




                                <div class="form-group">
                                    <label for="Student Name">
                                        Student Name
                                    </label>
                                    <input type="text" 
                                           class="form-control" 
                                           name="studentName" 
                                           #studentName="ngModel" ngModel
                                           required
                                           pattern="[A-Z,a-z]+"
                                             />
                                </div>

                                <div *ngIf="studentName.touched">
                                  <div *ngIf="studentName.errors?.['required']">
                                    <b style="color: red;">Student Name is Required.</b>

                                  </div>
                                  <div *ngIf="studentName.errors?.['pattern']">
                                    <b color="red"><b>Invalid Student Name.</b></b>
                                  </div>
                                </div>


                                <div class="form-group">
                                    <label for="Student Grade">
                                        Student Grade
                                    </label>
                                    <input type="text" 
                                           class="form-control" 
                                           name="studentGrade" 
                                           #studentGrade="ngModel" ngModel
                                           required
                                           pattern="[A-D]+"
                                           />
                                </div>
                                          
                                <div *ngIf="studentGrade.touched">
                                  <div *ngIf="studentGrade.errors?.['required']">
                                    <b style="color: red;">Student Grade is  Required.</b>

                                  </div>
                                  <div *ngIf="studentGrade.errors?.['pattern']">
                                    <b color="red"><b>Invalid Student Grade.</b></b>
                                  </div>
                                </div>
                                <button class="btn btn-success" (click)="insertStudent(myForm.value)">
                                    Insert 
                                </button>
                            &nbsp;&nbsp;
                                <button class="btn btn-primary"  (click)="updateStudent(myForm.value)">
                                    Update 
                                </button>&nbsp;&nbsp;
                                <button class="btn btn-danger" (click)="deleteStudent(myForm.value)">
                                    Delete 
                                </button>
                                &nbsp;&nbsp;
                                <button class="btn btn-warning" (click)="findStudent(myForm.value)">
                                    Find 
                                </button>
                                &nbsp;&nbsp;
                                <button class="btn btn-info" (click)="findAllStudent()">
                                    Find All
                                </button>
                              
                            </form>
                            
                        </div>
                    </div>
                </div>
         <br>
         <h3>{{result}}</h3>
         <div style="width: 100%;" *ngIf="flag">
          <table width="80%" align="center" class="table table-borderd">
           <tr><th>Student Id</th><th>Student Name</th><th>Student Grade</th></tr> 
            <tr *ngFor="let emp of studentArr">
                <td> {{student.id}} </td><td> {{student.studentName}} </td><td> {{student.studentGrade}} </td>
            </tr>
         </table>
         </div>
    </body>
</html>